<div class="container">

	<div class="col-md-5 col-lg-5 col-sm-10 col-xs-10">
		{{#if alertMessage}}
			<div class="alert alert-danger">
			  <strong>Sorry!</strong> {{alertMessage}}
			</div>
		{{/if}}
		{{#if successMessage}}
			<div class="alert alert-success">
			  {{successMessage}}
			</div>
		{{/if}}
		{{#if mustLogin}}
			<div class="alert alert-danger">
			  You must login to vote.
			</div>
		{{/if}}

		<h2>{{poll.title}}</h2>
		<h3><b>I would like to vote:</b></h3>
		<div class="col-md-8 col-lg-8 col-sm-10 col-xs-10">
			<form action="/vote" method="post">
				<select name="candidate" class="form-control" id="candidate">
					<option value="" disabled selected>Select your option</option>
					{{#each poll.options}}
						<option>{{this.[0]}}</option>
					{{/each	}}
					<option id="custom">I'd like a custom option.</option>
				</select></br>
				<div id="custom-div" hidden>
					<label>Vote with my custom option:</label><br>
					<input type="text" name="custom" id="custom">
				</div>
				<br>
				<input type="text" name="id" class="hidden" value="{{poll.id}}">
				<button class="btn btn-primary btn-block" type="submit" id="vote">Vote</button>
				<br>
				<button class="btn btn-default btn-block" id="twitter-share-btn">
					<a href="" id='twitter-share'><i class="fa fa-twitter"></i> Share on Twitter</a>
				</button>
				<script type="text/javascript">
					var url = "https://twitter.com/intent/tweet?url=https%3A%2F%2Fmynodevotingapp.herokuapp.com%2Fpolls%2F" + "{{poll._id}}" + "&text=Poll %7C FCC-Voting-App";
					$('#twitter-share').attr('href',url);
				</script>
			</form>
		</div>
	</div>

	<div class="col-md-7 col-lg-7 col-sm-10 col-xs-10">

		<div id="piechart" class="col-md-7"></div>

		<div id="legend" class="col-md-5">
			{{#each poll.options}}
				<div id="box-{{@index}}" class="col-md-1 box"></div></span>&nbsp;{{this.[0]}}<span><br><br>
			{{/each}}
		</div>

		{{#if showDelete}}
			<br>
			<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" style="padding: 10px;margin-left: 10px;">
				<form action="/delete" method="post">
					<button class="btn btn-danger btn-block">Delete this poll</button>
					<input type="text" name="id" class="hidden" value="{{poll.id}}">
				</form>
			</div>
		{{/if}}

		<script type="text/javascript">
			
			var height = 300;
			var width = 300;
			var padding = 20;
			var radius = Math.min(width, height) / 2;
			var dataset = [];
			var arr = "{{poll.options}}".split(',');
			var labels = [];

			for(var i=0;i<arr.length;i=i+2){
				dataset.push({ label: arr[i], count: Number(arr[i+1]) });
				labels.push(arr[i]);
			}

			var svg = d3.select('#piechart')
						.append('svg')
						.attr('height',(height-padding))
						.attr('width',(width-padding))
						.append('g')
  						.attr('transform', 'translate(' + (width / 2) +  ',' + (height / 2) + ')');

  			var tip = d3.tip()
						.attr("class","d3-tip")
						.offset([0,-10])
						.html(function(d){return "<div class='tooltip'><span>Title : "+d.data.label+"</span><br /><span>Count : "+d.data.count+"</span></div>";});

			svg.call(tip);

			var color = d3.scaleOrdinal(d3.schemeCategory20);
			var legendColor = ["#1f77b4", "#aec7e8", "#ff7f0e", "#ffbb78", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5", "#8c564b", "#c49c94", "#e377c2", "#f7b6d2", "#7f7f7f", "#c7c7c7", "#bcbd22", "#dbdb8d", "#17becf", "#9edae5"];

			var arc = d3.arc()
					  .innerRadius(80)
					  .outerRadius(radius-padding);

			var pie = d3.pie()
						.sort(null)
					  	.value(function(d) { return d.count; });

			var path = svg.selectAll('path')
						.data(pie(dataset))
						.enter()
						.append('path')
						.attr('d', arc)
						.attr('fill', function(d,i) {
							return color(i);
						})
						.on("mouseover",tip.show)
						.on("mouseout",tip.hide)
						.transition()
					    .duration(1000)
					    .attrTween("d", tweenPie);

					function tweenPie(b) {
					  b.innerRadius = 0;
					  var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
					  return function(t) { return arc(i(t)); };
					}

			for(var i=0;i<labels.length;i++){
				var divID = '#box-' + i;
				var col = legendColor[i];
				$(divID).css('background-color',col);
			}

		</script>

	</div>

</div>